<app-home></app-home>
<div id="sticky-footer">
  <button class="call-us"><mat-icon>call</mat-icon> Call Now</button>
  <button class="whatsapp"><img src="assets/whatsapp_icon.svg" alt=""> Whatsapp</button>
</div>
<!-- <div id="section-nav" class="pb-5">
  <mat-tab-group headerPosition="below" [(selectedIndex)]="activeTabIndex">
    <mat-tab label="Home">
      <ng-template mat-tab-label >
        <mat-icon>home</mat-icon> <p>Home</p>
      </ng-template>
      <app-home></app-home>
    </mat-tab>

    <mat-tab label="Bookings">
      <ng-template mat-tab-label>
        <mat-icon>beenhere</mat-icon> <p>Bookings</p>
      </ng-template>
      <app-booking></app-booking>
    </mat-tab>

    <mat-tab label="Accounts">
      <ng-template mat-tab-label>
        <mat-icon>account_box</mat-icon> <p>Accounts</p>
      </ng-template>
      <app-account></app-account>
    </mat-tab>
  </mat-tab-group>
</div> -->
